<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About the project</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href="static/style.css" rel="stylesheet">
</head>
<body>
    <div style="margin-left: 50px;">
        <h1>About the project</h1>
        <p>Time Capsule was created for UC Berkeley's 2014 <a href="http://hackthehearst.berkeley.edu">Hack the Hearst</a> event. The source code is available <a href="https://github.com/angelausy/blue-lotus-crocodiles">here</a>.</p>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="static/app.js"></script>
</body>
</html>