<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Time Capsule: Ancient Egypt</title>
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700' rel='stylesheet' type='text/css'>
    <link href="static/style.css" rel="stylesheet">
</head>

<body class="body--match">

    <div class="clearfix">
        <div class="board">
            <div class="instructions clearfix">
                <h1>Time Capsule: The Stela of Prince Wepemnofret</h1>
                <img class="shabti-avatar" src="static/shabti.gif" alt="Shabti (also spelled ushabti) were like little servants that ancient Egyptians put in tombs to help the dead. They were a bit like zombies! This shabti is here to help guide live people like you through this exploration.">
                <p>
                    Stelae (pronounced STEL-lie, plural of stela) are decorated slabs of stone or wood. Ancient Egyptian stelae, like much of Egyptian creative output, were a type of art for the
                    dead.
                </p>
                <p>
                    Funerary stelae depicted the dead person’s name, and offerings from family members. People made offerings to the dead because ancient Egyptians celebrated an afterlife in which a spirit would need the same types of things a person needed in this life. So these stelae also tell archaeologists what was important to the living.
                </p>
                <p>
                    Can you figure out what was important to the ancient Egyptians’ daily lives by looking at this stela of the Prince Wepemnofret? To help you look closely at the stela’s symbols, try matching the corresponding photos around the stela with their descriptions to get a surprise! Simply drag each object into the box that describes it. 
                </p>
            </div>
            <div class="centerpiece clearfix"></div>
        </div>

        <div class="cards clearfix">
            <div class="completed"></div>
        </div>
    </div>



    <div class="modal-shabti"></div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
    <script src="static/app.js"></script>

    <script>
        var deck;

        function onZoom() {
            if (d3.event.sourceEvent) d3.event.sourceEvent.stopPropagation();
            d3.select('.reference').attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
        }

        var zoom =  d3.behavior.zoom()
            .scaleExtent([1, 5])
            .on('zoom', onZoom);

        $('.modal-shabti').dialog({
            autoOpen: false,
            modal: true
        }).html('<p>Shabti (also spelled ushabti) were like little servants that ancient Egyptians put in tombs to help the dead. They were a bit like zombies! This shabti is here to help guide live people like you through this exploration.</p>');

        $('.shabti-avatar').click(function() {
            $('.modal-shabti').dialog('open');
        });

        $('.completed').dialog({
            autoOpen: false,
            modal: true,
            minWidth: 600
        }).html('<h1>You did it!</h1><p>You matched them all! Now follow this mummified crocodile to our next site, where you and your teacher can further investigate how ancient Egyptians lived.</p><a href="/gallery"><img src="' + getImgUrl('aa95965a-9d3d-42fe-bc49') + '"></a><p><a href="/gallery">Go to the next site</a></p>');

        d3.json('static/cards.json', function(error, cards) {

            deck = d3.shuffle(cards);

            var drop = d3.select('.centerpiece')
                .selectAll('.drop')
                    .data(cards)
                  .enter().append('div')
                    .sort(function(a, b) { return a.value > b.value; })
                    .attr('class', function(d) { return 'drop drop-' + d.value; });

            drop.append('h1')
                .text(function(d) { return d.value; });

            drop.append('div')
                .html(function(d) { return d.hint; });

            var svg = d3.select('.centerpiece').insert('svg', '.drop')
                .attr('class', 'centerpiece-image');

            var stela = svg.append('g')
                .on('click', function() {
                    if (d3.event.defaultPrevented) return;

                    d3.select('.marker-selected').attr('class', function() {
                        return d3.select('.marker-selected').attr('class').replace(/marker-selected/, '');
                    });

                    zoom.translate([0,0]).scale(1)
                        .event(svg.transition().duration(1000));
                })
                .call(zoom)
              .append('g').attr('class', 'reference').append(function() {
                var href = getImgUrl('96a58f7d-8538-46fd-b261', 'OriginalJpeg'),
                    $centerpieceImage = $('.centerpiece-image');
                var img = document.createElementNS('http://www.w3.org/2000/svg', 'image');
                img.setAttributeNS("http://www.w3.org/1999/xlink", "xlink:href", href);

                return img;
                });

            var tempImage = new Image();
            tempImage.onload = function() {
                var width = $('svg').width();
                var scale = width / this.width;
                var height = this.height * scale;

                svg.attr('width', width);
                svg.attr('height', height);

                stela
                    .attr('width', this.width)
                    .attr('height', this.height)
                    .attr('transform', 'scale(' + scale + ')');

                var marker = d3.select('.reference').selectAll('circle')
                    .data(cards)
                  .enter().append('circle')
                    .attr('class', function(d) { return 'marker marker-' + d.value; })
                    .attr('cx', function(d) { return d.cx * scale; })
                    .attr('cy', function(d) { return d.cy * scale; })
                    .attr('r', function(d) { return (d.diameter / 2) * scale; });

                var markerLabel = d3.select('.reference').selectAll('text')
                    .data(cards)
                  .enter().append('text')
                    .attr('class', 'marker-label')
                    .attr('x', function(d) { return d.cx * scale; })
                    .attr('y', function(d) { return d.cy * scale; })
                    .attr('dy', '0.3em')
                    .attr('text-anchor', 'middle')
                    .text(function(d) { return d.value; });

                d3.selectAll('.marker, .marker-label')
                    .on('click', function(data) {
                        d3.event.cancelBubble = true;
                        var vcx = width / 2,
                            vcy = height / 2,
                            cx = data.cx * scale,
                            cy = data.cy * scale,
                            markerVW = data.diameter * 3.5 * scale,
                            k = height / markerVW;

                        d3.selectAll('circle').attr('class', function(d) {
                            return d3.select('.marker-'+ d.value).attr('class').replace(/marker-selected/, '');
                        });

                        d3.select('.marker-'+ data.value).attr('class', function(d) {
                            return d3.select('.marker-'+ d.value).attr('class') + ' marker-selected';
                        });

                        zoom
                            .translate([vcx - cx * k, vcy - cy * k])
                            .scale(k)
                            .event(svg.transition().duration(1000));
                    });
                
                d3.select('body').append('div').attr('class', 'footnote')
                    .text('(Rulers are included in some photos to show objects\' sizes. Color chips are included to confirm that your display shows objects\' true colors.)');

            };
            tempImage.src = stela.attr('xlink:href');


            var figure = d3.select('.cards')
                .selectAll('.card')
                    .data(deck)
                  .enter().append('figure')
                    .attr('class', 'card');

            figure.append('figcaption')
                .text(function(d) { return d.name; });

            figure.append('img')
                .attr('class', 'artifact')
                .attr('src', function(d) { return  getImgUrl(d.blob, 'Medium'); })
                .attr('alt', function(d) { return escapeHtml(d.objdescr_s); });

            figure.each(function(d) {
                $(this).draggable({
                    scope: d.id,
                    revert: 'invalid'
                });
            });

            drop.each(function(d) {
                $(this).droppable({
                    scope: d.id,
                    drop: function(event, ui) {
                        $(this).find('h1').text(d.value + '. ' + d.name);
                        $(this)
                            .addClass('drop-matched')
                            .css('background', 'linear-gradient(to top, rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.8)), url("' + getImgUrl(d.blob, 'Medium') + '")')
                            .css('background-size', 'cover')
                            .css('color', '#fff');
                        ui.draggable.remove();

                        d3.select('.marker-' + d.value).attr('class', function() {
                            return d3.select(this).attr('class') + ' marker-checked';
                        });

                        zoom.translate([0,0]).scale(1)
                            .event(svg.transition().duration(1000));

                        if (!$('.card').length) {
                            $('.completed').dialog('open');
                        }
                    }
                });
            });
        });

    </script>
</body>
</html>